  <h4>Past Comments</h4>
  <form id='newCmtFrm'> <!--(this was newPstFrm, but I thnk that was wrong)-->
    <section>
      {{#each comments as |comment|}}
        <div>
          <p><strong>On {{format_date comment.date_created}}, {{comment.commenterName}} said</strong>: {{comment.text}}
        </div>
      {{/each}}
    </section>
    </form>