  <h4>Past Comments</h4>
  <form class='form new-post-form'>
    <section class='text-left'>
      {{#each comments as |comment|}}
        <div class='comment'>
          <p><strong>On {{format_date comment.date_created}}, {{comment.commenterName}} said</strong>: {{comment.text}}
        </div>
      {{/each}}
    </section>
    </form>

    <script src='/js/comment.js'></script>