<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>Tech Blog</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">  <link rel='stylesheet' href='/css/style.css'>
</head>

<body class="alegreya">
  <div>
    <header class="alegreya_bold header">
      <img src="/images/circuit.svg" width=150px; alt="Circuit Diagram">
      <div>
      <h1>Tech Blog</h1>
      <nav>
        {{#if logged_in}}
          <a href='/home' class='button'>HOME</a>&emsp;|&emsp;<a href='/dashboard' class='button'>DASHBOARD</a>&emsp;|&emsp;<button id='logout' class='button'>LOGOUT</button>
        {{else}}
          <a href='/home'class='button'>HOME</a>&emsp;|&emsp;<a href='/dashboard' class='button'>DASHBOARD</a>&emsp;|&emsp;<a href='/'class='button'>LOGIN</a>
        {{/if}}
        </nav>
      </div>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>
  {{#if logged_in}}
    <script src='/js/logout.js'></script>
  {{/if}}
</body>
</html>