<h2>Dashboard</h2>
<div class="columns">
  <div class="majorColumn">
    <h3>Create a New Post</h3>
    <form id="pstFrm">
      <label for='pstTitle'>Title</label>
      <input id='pstTitle' type='text' name='pstTitle' />
      <label for='pstText'>Text</label>
      <textarea id='pstText' name='pstText'></textarea>
      <button id="pstBtn" type='submit'>Post</button>
    </form>
  </div>
  <div class="verticalRule"></div>

  {{#if posts.length}}
    <div class="minorColumn">
      <h3>Your Posts</h3>
        {{#each posts as |post|}}
          <div>
            <ul>
              <li><a href='api/posts/{{post.id}}'>{{post.title}}</a></li>
            </ul>
          </div>
        {{/each}}
    </div>
  {{/if}}
</div>

<script src='./js/post.js'></script>

<script>
  document.getElementById('pstFrm').addEventListener('submit', addPstHandler);
</script>
