<div class="columns">
  <div class="column">
    <h2>Login</h2>
    <form id='loginFrm'>
      <div>
        <label for='loginEmail'>Email</label>
        <input id='loginEmail' type='email' name='loginEmail' required/>
      </div>
      <div>
        <label for='loginPass'>Password</label>
        <input id='loginPass' type='password' name='loginPass' required/>
      </div>
      <div>
        <button type='submit'>Login</button>
      </div>
    </form>
  </div>

  <div class="verticalRule"></div>
  
  <div class="column">
    <h2>Signup</h2>
    <form id='signupFrm'>
      <div>
        <label for='signupName'>Name</label>
        <input id='signupName' type='text' name='signupName' required/>
      </div>
      <div>
        <label for='signupEmail'>Email</label>
        <input id='signupEmail' type='email' name='signupEmail' required/>
      </div>
      <div>
        <label for='signupPass'>Password</label>
        <input id='signupPass' type='password' name='signupPass' required/>
      </div>
      <div>
        <button type='submit'>Signup</button>
      </div>
    </form>
  </div>
</div>

<script src='/js/login.js'></script>

<script>
  document.getElementById('loginFrm').addEventListener('submit', loginFrmHandler);
  document.getElementById('signupFrm').addEventListener('submit', signupFrmHandler);
</script>

