<div>
  <div>
    <h3>Update a Post</h3>
    <form id='updPstFrm'>
      <div id='pstData' data-id='{{post.id}}'></div>
      <div>
        <label for='pstTitle'>Title</label>
        <input id='pstTitle' type='text' name='pstTitle' value='{{post.title}}'/>
      </div>
      <div>
        <label for='pstText'>Text</label>
        <textarea id='pstText' name='pstText'>{{post.text}}</textarea>
      </div>
      <div>
        <button id="savePstBtn">Save</button>
      </div>
    </form>
  </div>
</div>

<script src='/js/update.js'></script>