/*---------- site-wide ----------*/
:root {
  --blue: #274353;
  --orange: #e86e04;
}

body {
  font-family:"Alegreya", sans-serif;
  line-height:135%;
  font-kerning:normal;
  display:flex;
  flex-direction:column;
  max-width:720px;
  left:0;
  right:0;
  margin:auto;
}

h1 {
  font-size:3rem;
  margin-bottom:1rem;
  color:var(--orange);
}

h2 {
  font-size:2rem;
  font-family:'Alegreya', serif;
  font-weight:600;
  line-height:135%;
  color:var(--orange);
  margin-bottom:0;
}

h3 {
  font-weight:600;
  line-height:135%;
  margin-top:.2rem;
}

button {
  font-size:.9rem;
  box-shadow:-5px 5px 5px #ccc;
  border: 1px solid var(--blue);
  border-radius:3px;
}

.alignRight {
  right:0;
  text-align:right;
}

/*---------- main.handlebars ----------*/
header {
  display:flex;
  gap:1rem;
  align-items:last baseline;
  border-bottom:2px solid var(--blue);
  padding-bottom:10px;
  margin-bottom:20px;
}
nav > .button {
  font-family:"Alegreya", serif;
  font-size:1.6rem;
  font-weight:400;
  text-transform:lowercase;
  font-variant:small-caps;
  text-decoration:none;
  color:black;
  letter-spacing:.1rem;
  background:none;
  border:none;
  padding:0;
  cursor:pointer;
  box-shadow:none;
}

nav > .button:hover {
  text-decoration:none;
  text-shadow:0 0 5px var(--orange);
}

main {
  font-family:"Raleway", sans-serif;
  font-size:1rem;
}

/*---------- login ----------*/
.columns {
  display:flex;
  gap:2rem;
}

.column {
  flex-direction:column;
  flex:1 1 auto;
}

.verticalRule {
  border-left:2px dotted var(--blue);
}

input {
  font-size:1.25rem;
  width:100%;
  border:1px solid #ccc;
  margin-top:.1rem;
  margin-bottom:1rem;
  box-shadow:-5px 5px 5px #ccc;
  box-sizing:border-box;
}

/*---------- cards ----------*/
.grid {
  display:flex;
  flex-wrap:wrap;
}

.card {
  display:inline-block;
  padding:10px;
  margin:10px;
  width:calc(33.333% - 46px);
  border:1px solid var(--orange);
  border-radius:.75rem;
  background:hsl(28, 97%, 90%);
  box-shadow:-5px 5px 10px #ccc;
}

.card > p {
  font-size:.85rem;
  line-height:100%;
}

/*---------- post ----------*/
.byline {
  font-size:.8rem;
  font-weight:600;
}

textarea {
  width:100%;
}
.byline + p {
  margin-top:0;
}

/*---------- dashboard ----------*/

